[Unit]
Description=Wireguard Manager Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory={{ wireguard_manager_dir }}
ExecStart={{ wireguard_manager_dir }}/venv/bin/python3 {{ wireguard_manager_dir }}/bot/app.py
Restart=on-failure

[Install]
WantedBy=default.target